body {
  font-family: Arial, sans-serif;
}

#password {
  margin-bottom: 10px;
}

.strength-section {
  height: 20px;
  width: 50px;
  display: inline-block;
  margin-right: 5px;
}

.easy {
  background-color: red;
}

.medium {
  background-color: yellow;
}

.strong {
  background-color: green;
}
